.galery-section{
    border-top: 10px solid #9a9a9a;
    border-bottom: 10px solid #9a9a9a;
    background-color: #e0e0e0;
    padding: 25px 0 25px 0;
    display: flex;
    flex-flow: column;
    height: 600px;
}

.galery-section 
.galery-carousel {
    width: 100%;
}

.galery-section h1{
    width: 100%;
    text-align: center;
    font-weight: bold;
}

.galery-section .carousel.slide .carousel-inner{
    height: calc(100% - 79px);
    width: 100%;
} 

.galery-section .carousel.slide .carousel-inner .carousel-item{
    height: 100%;
    margin: 10px;
    justify-content: center;
    width: 100%
}

.carousel-inner .carousel-item-left,
.carousel-inner .carousel-item-right,
.galery-section .carousel.slide .carousel-inner .carousel-item.active{
    display: flex;
}

.galery-section .carousel.slide .carousel-inner .carousel-item img{
    margin: 10px;
    height: 100%;
}