section.opening{
    width: 100%;
}

section.opening .opening-banner{
    width: 100%
}

section.opening .about-us-container{
    display: flex;
    flex-flow: column;
    text-align: center;
    margin: 20px;
}

section.opening .about-us-container h3{
    width: 100%;
    text-align: center;
    font-weight: bold; 
}

section.opening 
.about-us-container 
.about-us-content-vertical-align{
    width: 100%;
    display: flex;
    justify-content: center;
}

section.opening 
.about-us-container 
.about-us-content-vertical-align 
.about-us-content{
    background-color: gray;
    max-width: 1000px;
    padding: 10px;
}